{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Manager Details</h2>
    <div class="mb-3">
        <h4>Manager ID: {{ manager.manager_id }}</h4>
    </div>
    <div class="mb-3">
        <h4>Name: {{ manager.name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Age: {{ manager.age }}</h4>
    </div>
    <div class="mb-3">
        <h4>Years Managing: {{ manager.years_managing }}</h4>
    </div>
    <div class="mb-3">
        <h4>Titles Managed: {{ manager.titles_managed }}</h4>
    </div>
    {% set item = manager %}
    {% set actions = {
        'edit': url_for('managers.manager_edit', manager_id=manager.manager_id),
        'delete': url_for('managers.delete_manager', manager_id=manager.manager_id)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}