{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Team Details</h2>
    <div class="mb-3">
        <h4>Team Name: {{ team.t_name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Manager: {{ team.manager.name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Nationality: {{ team.nationality }}</h4>
    </div>
    <div class="mb-3">
        <h4>Founded: {{ team.founded }}</h4>
    </div>
    <div class="mb-3">
        <h4>Total Titles: {{ team.total_titles }}</h4>
    </div>
    <div class="mb-3">
        <h4>Historical Performance: {{ team.historical_performance }}</h4>
    </div>
    <div class="mb-3">
        <h4>Home Stadium: {{ team.stadium.name }}</h4>
    </div>
    <div class="mb-3">
        <h4>League: {{ team.league_name }}</h4>
    </div>
    {% set actions = {
        'edit': url_for('teams.team_edit', team_name=team.t_name),
        'delete': url_for('teams.delete_team', t_name=team.t_name)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}
