{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>League Details</h2>
    <div class="mb-3">
        <h4>League Name: {{ league.league_name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Country: {{ league.country_name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Founded: {{ league.founded }}</h4>
    </div>
    <div class="mb-3">
        <h4>Total Teams: {{ league.total_teams }}</h4>
    </div>
    <div class="mb-3">
        <h4>Total Games: {{ league.total_games }}</h4>
    </div>
    {% set item = league %}
    {% set actions = {
        'edit': url_for('leagues.league_edit', league_name=league.league_name),
        'delete': url_for('leagues.delete_league', league_name=league.league_name)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}
