{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Country Details</h2>
    <div class="mb-3">
        <h4>Country Name: {{ country.c_name }}</h4>
    </div>
    <div class="mb-3">
        <h4>Leagues Hosted: {{ country.leagues_hosted }}</h4>
    </div>
    {% set item = country %}
    {% set actions = {
        'edit': url_for('countries.country_edit', c_name=country.c_name),
        'delete': url_for('countries.delete_country', c_name=country.c_name)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}