{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Stadiums</h2>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addStadiumForm"
        aria-expanded="false" aria-controls="addStadiumForm">
        Add Stadium
    </button>

    <div class="collapse" id="addStadiumForm">
        <div class="card card-body">
            <form action="/add_stadium" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Stadium Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="seats" class="form-label">Seats:</label>
                    <input type="number" class="form-control" id="seats" name="seats" required>
                </div>
                <div class="mb-3">
                    <label for="founded" class="form-label">Founded:</label>
                    <input type="date" class="form-control" id="founded" name="founded" required>
                </div>
                <button type="submit" class="btn btn-success">Add Stadium</button>
            </form>
        </div>
    </div>
    <table class="table show-all">
        <thead>
            <tr>
                <th>Stadium Name</th>
                <th>Seats</th>
                <th>Founded</th>
            </tr>
        </thead>
        <tbody>
            {% for stadium in stadiums %}
            <tr>
                <td><a href="/stadiums/{{ stadium.stadium_id }}">{{ stadium.stadium_name }}</a></td>
                <td>{{ stadium.seats }}</td>
                <td>{{ stadium.founded }}</td>
                <td>
                    {% set actions = {
                    'view': url_for('stadiums.stadium_details', stadium_id=stadium.stadium_id),
                    'edit': url_for('stadiums.stadium_edit', stadium_id=stadium.stadium_id),
                    'delete': url_for('stadiums.delete_stadium', stadium_id=stadium.stadium_id)
                    } %}
                    {% include 'Components/side_table.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}