{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Match Details</h2>
    <form class="d-inline" action="{{ url_for('matches.update_match', match_id=match.match_id) }}" method="post">
        <div class="mb-3">
            <label for="ref" class="form-label">Referee ID:</label>
            <input type="number" class="form-control" id="ref" name="ref" value="{{ match.ref }}" required>
        </div>
        <div class="mb-3">
            <label for="game_date" class="form-label">Game Date:</label>
            <input type="date" class="form-control" id="game_date" name="game_date" value="{{ match.game_date }}" required>
        </div>
        <div class="mb-3">
            <label for="venue" class="form-label">Venue ID:</label>
            <input type="number" class="form-control" id="venue" name="venue" value="{{ match.venue }}" required>
        </div>
        <div class="mb-3">
            <label for="home" class="form-label">Home Team Name:</label>
            <input type="text" class="form-control" id="home" name="home" value="{{ match.home }}" required>
        </div>
        <div class="mb-3">
            <label for="away" class="form-label">Away Team Name:</label>
            <input type="text" class="form-control" id="away" name="away" value="{{ match.away }}" required>
        </div>
        <div class="mb-3">
            <label for="scoreline" class="form-label">Scoreline:</label>
            <input type="text" class="form-control" id="scoreline" name="scoreline" value="{{ match.scoreline }}">
        </div>
        <div class="mb-3">
            <label for="attendance" class="form-label">Attendance:</label>
            <input type="number" class="form-control" id="attendance" name="attendance" value="{{ match.attendance }}">
        </div>
        <div class="mb-3">
            <label for="under_odds" class="form-label">Under Odds:</label>
            <input type="number" class="form-control" id="under_odds" name="under_odds" value="{{ match.odds.under_odds }}">
        </div>
        <div class="mb-3">
            <label for="over_odds" class="form-label">Over Odds:</label>
            <input type="number" class="form-control" id="over_odds" name="over_odds" value="{{ match.odds.over_odds }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Match</button>
        {% set item = match %}
        {% set actions = {
            'delete': url_for('matches.delete_match', match_id=match.match_id)
        } %}
        {% include 'Components/side_table.html' %}
    </form>
</div>
{% endblock %}
