{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Matches</h2>
    <table class="table show-all">
        <thead>
            <tr>
                <th>Date</th>
                <th>Home</th>
                <th>Away</th>
                <th>Scoreline</th>
                <th>Attendance</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.game_date }}</td>
                <td><a href="/teams/{{ match.home }}">{{ match.home }}</a></td>
                <td><a href="/teams/{{ match.away }}">{{ match.away }}</a></td>
                <td>{{ match.scoreline }}</td>
                <td>{{ match.attendance }}</td>
                <td><a href="/stadiums/{{ match.stadium.stadium_id }}">{{ match.stadium.name }}</a></td>
                <td>
                    {% set item = match %}
                    {% set actions = {
                        'view': url_for('matches.match_details', match_id=match.match_id),
                        'edit': url_for('matches.match_edit', match_id=match.match_id),
                        'delete': url_for('matches.delete_match', match_id=match.match_id)
                    } %}
                    {% include 'Components/side_table.html' %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addMatchForm" aria-expanded="false" aria-controls="addMatchForm">
        Add Match
    </button>
    
    <div class="collapse" id="addMatchForm">
        <div class="card card-body">
            <form action="/add_match" method="post">
                <div class="mb-3">
                    <label for="ref" class="form-label">Referee ID:</label>
                    <input type="number" class="form-control" id="ref" name="ref" required>
                </div>
                <div class="mb-3">
                    <label for="game_date" class="form-label">Game Date:</label>
                    <input type="date" class="form-control" id="game_date" name="game_date" required>
                </div>
                <div class="mb-3">
                    <label for="venue" class="form-label">Venue ID:</label>
                    <input type="number" class="form-control" id="venue" name="venue" required>
                </div>
                <div class="mb-3">
                    <label for="home" class="form-label">Home Team Name:</label>
                    <input type="text" class="form-control" id="home" name="home" required>
                </div>
                <div class="mb-3">
                    <label for="away" class="form-label">Away Team Name:</label>
                    <input type="text" class="form-control" id="away" name="away" required>
                </div>
                <div class="mb-3">
                    <label for="scoreline" class="form-label">Scoreline:</label>
                    <input type="text" class="form-control" id="scoreline" name="scoreline">
                </div>
                <div class="mb-3">
                    <label for="attendance" class="form-label">Attendance:</label>
                    <input type="number" class="form-control" id="attendance" name="attendance">
                </div>
                <h3>Odds</h3>
                <div class="mb-3">
                    <label for="under_odds" class="form-label">Under Odds:</label>
                    <input type="number" class="form-control" id="under_odds" name="under_odds">
                </div>
                <div class="mb-3">
                    <label for="over_odds" class="form-label">Over Odds:</label>
                    <input type="number" class="form-control" id="over_odds" name="over_odds">
                </div>
                <button type="submit" class="btn btn-success">Add Match</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}