{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Match Details</h2>
    <div class="mb-3">
        <label class="form-label">Match ID:</label>
        <p>{{ match.match_id }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Referee:</label>
        <p>{{ match.referee.name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Game Date:</label>
        <p>{{ match.game_date }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Venue:</label>
        <p>{{ match.stadium.stadium_name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Home Team:</label>
        <p>{{ match.home_team.t_name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Away Team:</label>
        <p>{{ match.away_team.t_name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Scoreline:</label>
        <p>{{ match.scoreline }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Attendance:</label>
        <p>{{ match.attendance }}</p>
    </div>
    <h3>Odds</h3>
    <div class="mb-3">
        <label class="form-label">Under Odds:</label>
        <p>{{ match.odds.under_odds }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Over Odds:</label>
        <p>{{ match.odds.over_odds }}</p>
    </div>
    {% set item = match %}
    {% set actions = {
        'edit': url_for('matches.match_edit', match_id=match.match_id),
        'delete': url_for('matches.delete_match', match_id=match.match_id)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}
