{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Event Details</h2>
    <div class="mb-3">
        <label for="match_id" class="form-label">Match ID:</label>
        <p id="match_id">{{ event.match_id }}</p>
    </div>
    <div class="mb-3">
        <label for="player_involved" class="form-label">Player Involved:</label>
        <p id="player_involved">{{ event.player.p_name }}</p>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <p id="description">{{ event.description }}</p>
    </div>
    <div class="mb-3">
        <label for="event_type" class="form-label">Event Type:</label>
        <p id="event_type">{{ event.event_type }}</p>
    </div>
    <div class="mb-3">
        <label for="minute" class="form-label">Minute:</label>
        <p id="minute">{{ event.minute }}</p>
    </div>
    {% set item = event %}
    {% set actions = {
        'edit': url_for('events.event_edit', event_id=event.event_id),
        'delete': url_for('events.delete_event', event_id=event.event_id)
    } %}
    {% include 'Components/side_table.html' %}
    
</div>
{% endblock %}