{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Assist Details</h2>
    <div class="mb-3">
        <label class="form-label">Assist ID:</label>
        <p>{{ assist.assist_id }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Assisting Player:</label>
        <p>{{ assist.player.p_name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event:</label>
        <p>{{ assist.goal.description }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event Minute:</label>
        <p>{{ assist.goal.minute }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event Match ID:</label>
        <p>{{ assist.goal.match_id }}</p>
    </div>
    {% set item = assist %}
    {% set actions = {
        'edit': url_for('assists.assist_edit', assist_id=assist.assist_id),
        'delete': url_for('assists.delete_assist', assist_id=assist.assist_id)
    } %}
    {% include 'Components/side_table.html' %}
</div>
{% endblock %}
