{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Assist Details</h2>
    <div class="mb-3">
        <label class="form-label">Assist ID:</label>
        <p>{{ assist.assist_id }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Assisting Player:</label>
        <p>{{ assist.player.p_name }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event:</label>
        <p>{{ assist.event.description }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event Minute:</label>
        <p>{{ assist.event.minute }}</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Goal Event Match ID:</label>
        <p>{{ assist.event.match_id }}</p>
    </div>
    <a href="/assists/edit/{{ assist.assist_id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
    <form action="/delete_assist/{{ assist.assist_id }}" method="post" class="d-inline">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></button>
    </form>
</div>
{% endblock %}
