{% extends 'base.html' %}

{% block content %}
<h2>Events</h2>
<table>
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Player Involved</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Minute</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.match_id }}</td>
            <td>{{ event.player.p_name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.minute }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}