{% extends 'base.html' %}

{% block content %}
<h2>Managers</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Years Managing</th>
            <th>Titles Managed</th>
        </tr>
    </thead>
    <tbody>
        {% for manager in managers %}
        <tr>
            <td>{{ manager.name }}</td>
            <td>{{ manager.age }}</td>
            <td>{{ manager.years_managing }}</td>
            <td>{{ manager.titles_managed }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}